<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="light-blue darken-1">
    <h2 class="blue-text text-lighten-5">Add new profile</h2>
    <div class="container">
    <%= form_for @profile do |f| %>
      <div class="col s6">
        <%= label_tag(:name, "Screenname:") %>
        <%= f.text_field :name, placeholder: "Game Idea Machine",
        class:"col s3 cyan-text text-lighten-4" %></br>
      </div>
      <div class="col s6">
        <%= label_tag(:url, "URL:") %>
        <%= f.text_field :url, placeholder: "https://twitter.com/gameideamachine",
        class:"col s3 cyan-text text-lighten-4" %></br>
        <%= f.submit "Create" %>
      </div>
      <%= link_to "Return to home", root_path, class:"cyan-text text-accent-2" %>
    <% end %>
    </div>

  </body>
</html>
