<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mostrar usuario</title>
  </head>
  <body class="light-blue darken-1">
    <%= render "profiles/nav_bar" %>
    <div class="container">

      <img alt="Profile image" src="<%= @profile.image %>" class="responsive-img circle"/>
      <br>
      <h2 class="cyan-text text-accent-2"><%= @profile.name %></h2>
      <br>
      <span class="amber-text text-lighten-2"><%= @profile.username %></span>
      <br>
      <a class="cyan-text text-accent-2" href="<%= @profile.url %>">perfil</a>
      <br>
      <p class="cyan-text text-accent-2"><span class="cyan-text text-lighten-3">Description: </span><%= @profile.desc %></p>
      <%= link_to "edit", edit_profile_path(@profile), class:"cyan-text text-accent-2"%>
      <br>
      <%= link_to "delete", @profile, method: :delete, data: { confirm: "Deseja realmente excluir?" }, class:"cyan-text text-accent-2"%>
      <br>
      <br>

    </div>
  </body>
</html>
