<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mostrar usuario</title>
  </head>
  <body>
    <div class="container">

      <img src="<%= @profile.image %>"/>
      <br>
      <%= @profile.name %>
      <br>
      <%= @profile.username %>
      <br>
      <a href="<%= @profile.url %>">perfil</a>
      <br>
      <%= @profile.desc %>
      <br>
      <%= link_to "Home", root_path %>

    </div>
  </body>
</html>
